<!DOCTYPE html>
<html>
  <head>
    <title>VMware Edge Cloud Orchestrator</title>
    <style>
      body {
        font-family: Arial;
        margin: 0;
        background-color: #00148C; /* National Grid 00148C = blue, fa4616 = orange, 00bfb3 = teal, 500778 = purple */
      }
      .content {
        text-align: center;
        padding: 20px;
      }
      h1 {
        margin: 0;
      }
      img {
        width: 80%;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="content col-lg-8 offset-lg-2">
      <h1>VMware Edge Cloud Orchestrator</h1>
      <img src="{{ url_for('video_feed') }}" style="margin-top: 20px;">
    </div>
  </body>
</html>
