<!DOCTYPE html>
<html>
  <head>
    <title>Edge GitOps: AI Computer Vision</title>
    <style>
      body {
        font-family: Arial;
        margin: 0;
      }
      .content {
        text-align: center;
        background-color: green;
        padding: 20px;
      }
      h1 {
        margin: 0;
      }
      img {
        width: 80%;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="content col-lg-8 offset-lg-2">
      <h1>Edge GitOps: AI Computer Vision</h1>
      <img src="{{ url_for('video_feed') }}">
    </div>
  </body>
</html>
